<app-top-bar></app-top-bar>

<div class="container">

 
<table style="width=100%">
  <tr><td>
    <router-outlet></router-outlet>
  </td></tr>
  <tr><td>
    <a class="button" routerLink="/book-component" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Book Component</a>
  </td></tr>
  <tr><td>
    <a class="button" routerLink="/pen-component" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Pen Component</a>
  </td></tr>
  <tr><td>
    <a class="button" routerLink="/geomatry-component" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Geomatry Component</a>
  </td></tr>
  <tr>
    <td><img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80" width="100%" ><app-image-list></app-image-list></td>
    <td><img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80" width="100%" ><app-image-list></app-image-list></td>
  </tr>
  <tr>
    <td><img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80" width='100%' ><app-image-list></app-image-list></td>
    <td><img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80" width='100%' ><app-image-list></app-image-list></td>
  </tr>
</table>

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->